# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 小程序
project.config.json

# lib
/miniprogram/lib

# cloudfunctions
/cloudfunctions/*/node_modules
#/cloudfunctions/*/package.json
/cloudfunctions/*/package-lock.json

#counter
/.VSCodeCounter
